<!-- Send Email -->
<div
  ng-class="{'loading': loading}"
  class="ui red segment">
  <div class="ui stackable grid">
    <div class="three wide column">
      <div class="grouped fields">
        <div class="field">
            <div class="ui checkbox">
                <input 
                type="checkbox"
                name="notCompletedProfile"
                ng-model="statusFilters.notcompletedProfile"
                ng-change="applyStatusFilter()">
                <label>Hasn't Completed Profile</label>
            </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input
            type="checkbox"
            name="notVerified"
            ng-model="statusFilters.notverified"
            ng-change="applyStatusFilter()">
            <label>Not Verified</label>
          </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input
                type="checkbox"
                name="notAdmitted"
                ng-model="statusFilters.notadmitted"
                ng-change="applyStatusFilter()">
                <label>Not Admitted</label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input
                type="checkbox"
                name="notConfirmed"
                ng-model="statusFilters.notconfirmed"
                ng-change="applyStatusFilter()">
                <label>Not Confirmed</label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input
                type="checkbox"
                name="notCompletedProfile"
                ng-model="statusFilters.completedProfile"
                ng-change="applyStatusFilter()">
                <label>Completed Profile</label>
            </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input
            type="checkbox"
            name="notVerified"
            ng-model="statusFilters.verified"
            ng-change="applyStatusFilter()">
            <label>Verified</label>
          </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input 
                type="checkbox"
                name="notAdmitted"
                ng-model="statusFilters.admitted"
                ng-change="applyStatusFilter()">
                <label>Admitted</label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input 
                type="checkbox"
                name="notConfirmed"
                ng-model="statusFilters.confirmed"
                ng-change="applyStatusFilter()">
                <label>Confirmed</label>
            </div>
        </div>
      </div>
      <div class="field">
          <div class="ui checkbox">
              <input 
              type="checkbox"
              name="declined"
              ng-model="statusFilters.declined"
              ng-change="applyStatusFilter()">
              <label>Declined</label>
          </div>
      </div>
      <div class="field">
          <div class="ui checkbox">
              <input 
              type="checkbox"
              name="checkedIn"
              ng-model="statusFilters.checkedIn"
              ng-change="applyStatusFilter()">
              <label>Checked In</label>
          </div>
      </div>
      <div class="field">
          <div class="ui checkbox">
              <input 
              type="checkbox"
              name="reimbursementGiven"
              ng-model="statusFilters.reimbursementGiven"
              ng-change="applyStatusFilter()">
              <label>Reimbursement Given</label>
          </div>
      </div>

      <div class="ui divider"></div>

      <div class="ui field">
        <button
          type="submit"
          class="ui positive right labeled icon button"
          ng-click="sendEmails()"
          tabindex="0">
          Send Emails
          <i class="send icon"></i>
        </button>
      </div>
    </div>
    <div class="thirteen wide column">
      <form class="ui form">
        <div class="ui header">
          Send Mass Email:
        </div>

        <div class="field">
          <label>
            Subject:
          </label>
          <input
            type="text"
            ng-model="email.subject"
            name="subject"
            placeholder="Subject...">
        </div>

        <div class="field">
          <label>
            Title:
          </label>
          <input
            type="text"
            ng-model="email.title"
            name="title"
            placeholder="Title...">
        </div>

        <div class="field" ng-if="email.title">
          <label>
            Subtitle (optional):
          </label>
          <input
            type="text"
            ng-model="email.subtitle"
            name="subtitle"
            placeholder="Subtitle...">
        </div>

        <div class="field">
          <label>
            Description:
          </label>
          <textarea
            ng-model="email.description"
            name="description"
            placeholder="Description...">
          </textarea>
        </div>

        <div class="field">
          <label>
            Link Action URL (optional):
          </label>
          <input
            type="url"
            ng-model="email.actionUrl"
            name="actionUrl"
            placeholder="https://vthacks.com/register">
        </div>

        <div class="field" ng-if="email.actionUrl">
          <label>
            Link Action Text:
          </label>
          <input
            type="text"
            ng-model="email.actionName"
            name="actionName"
            placeholder="Go to Registration">
        </div>
      </form>
    </div>
  </div>   
</div>
